.mat-raised-button{
    background-color: #A8D4ED;
    margin: 10px;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 2px;
}
.upload{
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    font-weight: bolder;
    color: green;
    letter-spacing: 2px;
}