<div class="container">
    <mat-card>
        <mat-card-content>
            <a href="https://www.facebook.com/Logofantje-113274207514518" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/logofantje/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a><i class="bi bi-messenger"></i></a>
            <a href="https://www.linkedin.com/in/yna-bauwens-15636220a/?originalSubdomain=be" target="_blank"><i class="bi bi-linkedin"></i></a>
        </mat-card-content>
    </mat-card>
    <mat-card class="overYna">
        <mat-card-header>
            <mat-card-title>Wie ben ik?</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/yna.jpeg">
        <mat-card-content>
            <p>Hier komt een hele hoop tekst.</p>
        </mat-card-content>
    </mat-card>
</div>
