<div class="container">
    <mat-card>
        <mat-card-content>
            <a href="https://www.facebook.com/Logofantje-113274207514518" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/logofantje/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/in/yna-bauwens-15636220a/?originalSubdomain=be" target="_blank"><i class="bi bi-linkedin"></i></a>
        </mat-card-content>
    </mat-card>
    <mat-card class="overYna">
        <mat-card-header>
            <mat-card-title>Wie ben ik?</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Welkom op Logofantje! Ik heet Yna Bauwens en ik ben een laatstejaarstudente logopedie
                aan de Arteveldehogeschool. Logofantje is een verzameling van zelfgemaakte materialen die je kan downloaden
                voor tijdens de logopedische therapie. Je kan een account maken waarbij je mijn materiaal aan jouw persoonlijk lijst met favorieten
                kan toevoegen. Zo heb je alles onmiddellijk bij de hand! Laat me gerust weten wat je van mijn materiaal vindt via 
                Instagram of Facebook!<br>Groetjes Yna.
            </p>
        </mat-card-content>
        <img mat-card-image src="assets/images/yna.jpeg">
    </mat-card>
</div>
