<div class="container">
    <div class="title">
        <h1>Logofantje</h1>
        <h2>Welkom alle lieve logopedisten, leerkrachten en studenten! Bij logofantje vind je het materiaal om van het leren een feestje te maken!</h2>
    </div>
    <div class="row">
        <div class="column">
          <img src="assets/images/bordSpel.jpeg"  style="width:100%">
        </div>
        <div class="column">
          <img src="assets/images/kuikentjesSpel.jpeg"  style="width:100%">
        </div>
        <div class="column">
          <img src="assets/images/WasknijperSpel.jpeg"  style="width:100%">
        </div>
    </div>


   
</div>
