<div class="container">
    <h1>Dit zijn jouw favorieten!</h1>
    <button mat-fab (click)="display2 = !display2">Filter</button>
<mat-card *ngIf="display2">
       <mat-card-title>Filter op thema!</mat-card-title>
    <mat-card-content>
        <div class="form form-inline">
            <div *ngFor="let filterItem of filterItems; let i = index;" class="form-check" style="padding-right: 20px; display: inline;">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [(ngModel)] = "filterItem.checked" [value]="filterItem.value"> {{ filterItem.value }}
                </label>
            </div>
        </div>
        <h3 style="margin-top: 10px;">Jouw gekozen filters: <span *ngFor="let filterItem of checked()" style="padding-right: 10px;">{{ filterItem.value }}</span></h3>
    </mat-card-content>
</mat-card>
</div>