
button{
    padding: 0px;  
}
mat-card{
    margin-top: 10px;
}
mat-card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
h2{
    border-bottom: 1px solid lightgrey;
}
button{
    border: none;
    background-color:white;
}
.mat-icon{
font-size: 30px;
padding-right: 10px;
margin-left: 10px;
}
.mat-icon:hover{
    color: lightgray;
    cursor: pointer;
    filter: drop-shadow(0px 3px 2px black);
    -webkit-filter: drop-shadow(0px 3px 2px black);
}
.download{
    margin-left: 30%;
}
.pdfDownload {
    font-size: 80px;
    color: pink;
}
.favo, .edit, .delete{
    color: pink;
}
.favo:hover{
    color: red;
}
h3{
    font-size: 20px;
}
.mat-card-title{
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    font-weight: bold;
}
.mat-card-subtitle{
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}
h2{
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
}
h3{
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
}