<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Het menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Logofantje<mat-icon style="margin-left: 5px;">home</mat-icon></a>
      <a mat-list-item href="#">Yna<mat-icon style="margin-left: 5px;">accessibility</mat-icon></a>
      <a mat-list-item routerLink="/tmateriaal">Therapiemateriaal<mat-icon style="margin-left: 5px;">build</mat-icon></a>
      <a mat-list-item href="#">Favorieten<mat-icon style="margin-left: 5px;">favorite</mat-icon></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="./assets/images/logo.png" height="140px">
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
