<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img src="./assets/images/oli.PNG" height="100px"></mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="">Logofantje<mat-icon style="margin-left: 5px;">home</mat-icon></a>
      <a mat-list-item routerLink="/yna">Yna<mat-icon style="margin-left: 5px;">accessibility</mat-icon></a>
      <a mat-list-item routerLink="/tmateriaal">Therapiemateriaal<mat-icon style="margin-left: 5px;">build</mat-icon></a>
      <a *ngIf="loggedInUser$ | async as user" mat-list-item routerLink="/favorietenlijst">Favorieten<mat-icon style="margin-left: 5px;">favorite</mat-icon></a>
    </mat-nav-list>
    <span class="fill-space"></span>
    <span *ngIf="loggedInUser$ | async as user; else loginTemplate">
      <h2>{{ user }}</h2>
      <button mat-raised-button (click)="logout()" style="margin-top:30px;">
        uitloggen
      </button>
    </span>
    <ng-template #loginTemplate>
      <span>
        <button mat-raised-button (click)="login()" style="margin-top:30px;">
          inloggen
        </button>
      </span>
    </ng-template>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="./assets/images/logo.png" height="220px" id="mainLogo">
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
